:root {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  max-width: 100%;

  font: 20px "Poppins", cursive;
  background: #e6e7e9;
}

canvas{ 
  display: block;
}

nav {
  height: auto;
}

.transparent {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

nav ul {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  
}
nav ul li {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

nav ul li a {
  margin: 1vw;
  font-size: 2.3vh;
  color: #669aca;
  text-decoration: none;
  transition: 0.2s;
}

nav ul li a:hover {
  color: rgb(199, 199, 199);
}

.dropdown-menu {
  background-color: #669aca;
}

.dropdown-item {
  color: white;
  padding: 1vh;
}

.dropdown-item:hover {
  background: #669aca;
  color: rgba(0,0,0,0.5);
}

.dropdown {
  display: none;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  height: 80vh;
  position: relative;
  top: 35vh;
  /* left: 1vw; */
  z-index: 5;
  color: rgba(0,0,0,0.1);
}

#First-title{
  position: relative;
  top: -7vw;
  /* left: 24vw; */
  color: white;
  font-family: Poppins;
  font-weight: 700;
  font-size: 10vw;
  z-index: 6;

}

#Subtitle {
  font: 1.8vw Poppins, sans-serif;
  font-weight: 300;
  padding-left: 1vw;
  color: white;
  letter-spacing: .3vw;
  position: relative;
  top: -10vw;
  /* left: 23.6vw; */
}

.home img {
  height: 70vh;
  margin-top: -25vh;
}

#particles-container{ 
  display: block;
  position: relative; 
  background: linear-gradient(70deg, #02011d,#030130,#0c1f59, #0c1f59);
  background-size: cover; 
  background-position: 0% 0%;
  z-index: -10;
  margin-top: -110vh;
  margin-left: -20vw;

}

.titles {
  display: flex;
  align-items: center;
  justify-content: center;

  font: 3.5vw Poppins, sans-serif;
  font-weight: 600;
  color: #123b77;

}

@media (max-width: 1025px) {
  nav ul {
    margin-right: 9vh;
  }
  
  nav ul li a {
    margin: .5vh;
  }

  #navbar {
    margin-right: -10vh;
  }

  #logo {
    height: 40vh;
    top: 30vh;
    left: 5vh; 
  }

  #particles-container {
    margin: 0;
    top: -40vh;
    height: 60vh;
  }

  #First-title {
    top: 5vh;
    left: 5vh;
    font-size: 9vh;
  }

  #Subtitle {
    font-size: 1.7vh;
    top: 2vh;
    left: 3.9vh;
  }

  .noDisplayOnMobile {
    display: none;
  }

  .dropdown {
    display: flex;
  }

}

@media (min-width: 1026px) and (max-width: 1365px) {
  #logo {
    height: 50vh;
  }

  #particles-container {
    height: 130vh;
  }

  #First-title {
    top: 4vh;
  }

  #Subtitle {
    top: 0;
  }

}
/*---------------------------------------------------------ABOUT------------------------------------------------------------------*/
#bttbutton {
  display: none;
  position: fixed;
  bottom: 3vh;
  right: 3vh;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #0c1f59;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}
#bttbutton:hover {
  background-color: #123b77;
}

#about {
  margin-top: 25vh;
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 0 15vw;
}

#about1 hr {
  border: 10px solid #0c1f59;
  width: 30vw;
}
#about1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 0.5vw;
}

#about-image1 {
  height: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 30vh;
  margin-left: 5vw;
}

#about-image2 {
  height: 30vw;
  margin: 5vw;
}

#about2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 0.5vw;
}

.about-title{
  padding: 1vw;
  font: 2vw Poppins, sans-serif;
  font-weight: 500;

  color: #123b77;

}

#about2 div {
  padding: 4vw;
}

.about-image {
  padding: 1vw;
}

.about-content {
  padding: 1vw;
  text-align: justify;
  color: rgba(0,0,0,0.7);

  color: #152e54;
}

@media (max-width: 1025px) {
  #about {
    display: flex;
    flex-direction: column;
    margin-top: -30vh;
  }

  #about hr {
    border: 5px solid #0c1f59;
    width: 30vh;
  }

  #about h2 {
    font-size: 5vh;
    margin: -1.75vh 0;
  }

  .about-title {
    font-size: 3.5vh;
    font-weight: 600;
  }

  .about-content {
    font-size: 2.75vh;
  }

  #about-image1 {
    height: 100%;
    width: 40vh;
    margin-top: -2vh;
  }
  #about-image2 {
    display: none;
  }
}

@media (min-width: 1026px) and (max-width: 1365px) {
  #about {
    margin-top: 10vh;
  }
}

.mvv-content {
  margin-top: 20px;
}

.nav-tabs-container {
  margin-bottom: 20px;
}

#features {
  margin: 30px;
}

.about-button-icon {
  margin-right: 10px;
  width: 30px;
  height: 30px;

}


.nav-tabs .nav-item.show .nav-link, .nav-tabs {
  display: flex;
  justify-content: space-evenly;

}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
  padding: 30px;
  outline: solid 1px black;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background: #6699cc;
  color: black;
  outline: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
  transform: scale(1.05);
}


/*---------------------------------------------------------NOSSOS-CLIENTES------------------------------------------------------------------*/

#clients {
  background: linear-gradient(100deg, #030130, #0c1f59, #030130);
  display: block;
  height: 45vh;
}

#clients h4 {
  font: 3vw Poppins, sans-serif;
  font-weight: 700;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw;
  padding-top: 2vw;
}

#clients-logo-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 1vw;
}

.clients-images {
  height: 8vw;
}

.clients-image-bigger {
  height: 10vw;
}
.clients-image-renault {
  height: 7vw;
  margin-top: -20px;
}

@media (max-width: 1025px) {
  #clients {
    height: auto;
  }
  
  #clients h4 {
    font-size: 5vh;
    margin-bottom: -3vh;
    text-align: center;
  }

  .clients-images {
    height: 20vh;
    margin-bottom: 3vh;
    margin-top: 3vh;
  }

  #clients-logo-section {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1026px) and (max-width: 1365px) {
  #clients {
    height: 30vh;
  }
}

/*---------------------------------------------------------PORTFÓLIO------------------------------------------------------------------*/
#portfolio{
  margin: 10vh 5vw 20vh 5vw;
}

.portfolio-card-title {
  font-size: 25px;
  font-weight: 700;
  color: #030130;
  text-align: justify;
}

.portfolio-card-text {
  font-size: 12px;
  font-weight: 400;
  color: #030130;

  margin-bottom: 0px;
  text-align: justify;
}

.portfolio-card-date {
  font-size: 20px;
  font-weight: 700;
}

.portfolio-card-button {
  border-radius: 15px 15px 5px 5px;
  color: white;
  font-weight: 500;
  font-size: 15px;

  background-color: #030130;
  padding: 2px 10px;
  margin-top: 0;
}

.carousel-cell button a {
  text-decoration: none;
  color: white;
}

.portfolio-card-button-div {
  display: flex;
  justify-content: flex-start;
}

/* external css: flickity.css */


body { font-family: sans-serif; }

.carousel {
  background: rgba(0,0,0,0.0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-cell {
  width: 30%;
  height: 60vh;
  margin: 0 2vh;
  background: rgba(0,0,0,0.0);
  border-radius: 5px;
}

.carousel-image {
  height: 35vh;
  border-radius: 50px 50px 10px 10px;
}

@media (max-width: 1025px) {
  #portfolio h1 {
    font-size: 7vh;
    margin-top: -3vh;
  }
  
  .carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .carousel-cell {
    margin: 2vh 3vh 8vh 0;
    width: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .carousel-image {
    border-radius: 50vh;
    height: 25vh
  }

  .portfolio-card-title {
    font-size: 5vh;
  }

  .portfolio-card-text {
    font-size: 3vh;
    width: 80vw
  }

  .portfolio-card-button {
    font-size: 3vh;
    padding: 1vh 2vh;
    margin-top: 2vh;
    margin-bottom: 3vh;
  }
}

@media (min-width: 1026px) and (max-width: 1365px) {
  .carousel-image {
  padding: 1vw;
  }
}
/*---------------------------------------------------------MEMBROS------------------------------------------------------------------*/

#membros {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -5vw;
}

#membros h2 {
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font: 4vw Poppins;
  font-weight: 700;
  margin: 50px;
}

.membros-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  align-items: center;
  justify-content: center;
}

.membros-card {
  display: flex;
  margin-bottom: 3vw;
  margin: 1vw;

}
.membros-card p {
  color: white;
  margin: 0;
  text-align: justify;
}
.membros-card p:first-child {
  font-size: 2vw;
  font-weight: 600;
}
.membros-card p:last-child {
  font-weight: 200;
  font-size: 1vw;
}

.membros-text {
  padding: 2vw;
}
.membros-card img {
  height: 12vw;
  margin: 1vw;
  margin: 0;
}
/* .membros-text a i {
  display: flex;
  flex-direction: column;
  height: 30px;
  margin-bottom: 30px;
  margin-top: 10px;
} */

/* .social-membros a i {
  display: flex;
  flex-direction: column;
  height: 30px;
  margin-bottom: 30px;
  margin-top: 20px;
  padding-top: 10px;
} */

@media (max-width: 1025px) {
  #membros {
    margin-top: -30vh;
  }

  #membros h2 {
    font-size: 5vh;
    position: relative;
    top: 9vh;
    margin: 8vh;
  }

  .membros-cards {
    display: flex;
    flex-direction: column;
  }

  #particles-membros {
    height: 210vh;
    margin-top: -205vh;
  }

  .membros-card img {
    height: 20vh;
  }

  .membros-text {
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .membros-text p:first-child {
    font-size: 3vh;
  }

  .membros-text p:last-child {
    font-size: 2vh;
  }
}

/*---------------------------------------------------------CONTATO------------------------------------------------------------------*/
#contato {
  margin-top: 10vh;
  margin-bottom: 30vh;
}
#contato h2 {
  font-size: 75px;
  margin: 20px;

}
.contato-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#contato-form {
  display: flex;
  flex-direction: column;

  margin-top: 10vw;
}

#contato-form input,
#fmensagem {
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  border: solid 1px #6699cc;
  background-color: rgba(0,0,0,0.1);
  outline: none;
  font-size: 1.3vw;
}


#fmensagem {
  width: 30vw;
  height: 30vh;
  border-radius: 6px;

}
::placeholder {
  color: rgba(0,0,0,0.3);
}

#contato-info {
  line-height: 10px;
  margin: 0 5vw;
}

#social-medias a i {
  width: 50px;
}

#contato-info p,
#contato-info h4 {
  color: #0a2642;
}

#contato-info p {
  font-weight: 300;
  font-size: 17px
}

#contato-info h4 {
  font-size: 1.4vw;
  font-weight: 500;
}

#contato-info div {
  margin: 20px;
  margin-bottom: 30px;
  color: rgba(0,0,0,0.5);
  font-size: 1vw;
}

#contato-form button {
  margin: 10px 0;
  transition: transform .2s;
}

#contato-form button:hover {
  transform: scale(1.1);
  background: #5a8bbd;
}

#fbutton {
  color: white;
  font-weight: 700;
  font-size: 15px;
  border-radius: 50px;
  width: 150px;

  background-color: #6699cc;
  padding: 10px;
  position: relative;
}
.contato-icone {
  width: 30px;
  height: 30px;

  stroke-width: 1.5px;
  transition: transform .2s;
}

.contato-icone:hover {
  transform: scale(1.1);
}

#contato-button-icon {
  margin-right: 10px;
}

#social-medias {
  text-align: left;
}

@media (max-width: 1025px) {
  #contato {
    margin-bottom: 0;
  }
  
  #contato h2 {
    font-size: 7vh;
  }

  .contato-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #contato-form input,
  #fmensagem {
    font-size: 4vh;
    width: 90vw;
  }

  #fcel {
    position: relative;
    left: .7vh;
  }

  #contato-info {
    line-height: 3vh;
    margin: .5vh;
  }

  #contato-info h4 {
    font-size: 4vh;
  }

  #contato-info p {
    font-size: 3vh;
  }

  .redes-sociais {
    margin: .5vh;
    height: 5vh;
  }

  #fbutton {
    font-size: 3.5vh;
    position: relative;
    top: 1vh;
    left: 2.5vh;
  }
}

@media (min-width: 1023px) and (max-width: 1025px) {
  #fcel {
    left: .4vh;
  }
}

/*---------------------------------------------------------SERVIÇOS------------------------------------------------------------------*/
/*#servicos {
  padding: 50px;
  margin-top: 100px;
  background: linear-gradient(90deg, #271a6c, #3d3485, #271a6c);
  background-image: url("../src/images/background-teste2.png");
  background-color: #3d3485;
  background-repeat: repeat-y;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#servicos-ceramicos, 
#servicos-metalicos,
#servicos-polimericos {
  width: 80vw;

}

#servicos h2 {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  color: white;
  font-size: 3.5vw;
}

#servicos h4 {
  font-weight: 700;
  color: white;
  margin: 5vw 1vw 0 1vw;
  font-size: 2vw;
}

#servicos-boxtitle {
  display: flex;
  justify-content: flex-end;
}

.servicos-box {
  display: flex;
}

.servicos-section {
  height: auto;
  background-color: white;
  border-radius: 15px 5px 5px 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: auto;
  margin: .7vw;
}

.servicos-title {
  font-weight: 300;
  letter-spacing: 7px;
  margin-top: 50px;
  color: white;
  margin: 1.2vw;
}

.servicos-squares {
  display: flex;
}

.servicos-square1 {
  background-color: white;
  height: 200px;
  width: calc(66vw - 20px);
  border-radius: 15px 5px 5px 5px;
}

.servicos-square2 {
  background-color: white;
  height: 200px;
  width: calc(33vw - 20px);
  margin-left: 20px;
  border-radius: 15px 5px 5px 5px;
}

@media (min-width: 1367px) {
  #particles-servicos {
    margin-top: -1250px;
    height: 1300px;
  }
}

@media (max-width: 1025px) {  
  #servicos h2 {
    font-size: 7vh;
    margin-bottom: 0;
  }
  
  .servicos-box {
    flex-wrap: wrap;
  }

  #servicos h4 {
    font-size: 4vh;
  }

  .servicos-title {
    margin: 5vw 1.2vw 1.2vw 1.2vw;
    font-size: 3vh;
  }

  .servicos-section {
    padding: 2vh;
  }

  .servicos-section strong {
    font-size: 3.5vh;
  }

  .servicos-section p {
    font-size: 3.2vh;
  }
}*/

/*---------------------------------------------------------NOSSOS-NÚMEROS------------------------------------------------------------------*/
#nossos-numeros h2 {
  font-weight: 800;
  font-size: 2.5vw;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #123b77;

  margin: 20px;
  margin-top: 40px;
  
}

#nossos-numeros-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nossos-numeros-section div {
  margin: 50px;
}

#nossos-numeros-section div img {
  height: 100px;
}

#nossos-numeros-icon1 {
  margin-left: 20px;
}
#nossos-numeros-icon2 {
  margin-left: 80px;
}
#nossos-numeros-icon3 {
  margin-left: 90px;
}

#nossos-numeros-section p {
  margin: 0;
  color: #150b44;
}

.nossos-numeros-title { 
  font-weight: 800;
  font-size: 40px;
}

.nossos-numeros-text {
  font-weight: 300;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

@media (max-width: 1025px) {
  #nossos-numeros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #nossos-numeros h2 {
    font-size: 7vh;
    text-align: center;
  }

  #nossos-numeros-section {
    display: flex;
    flex-direction: column;
  }

  .nossos-numeros-title {
    font-size: 4.9vh;
  }

  .nossos-numeros-text {
    font-size: 4.5vh;
    line-height: 1vh;
  }

  .nossos-numeros-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #nossos-numeros-icon2,
  #nossos-numeros-icon3 {
    margin: 0;
  }
}

/*---------------------------------------------------------DEPOIMENTOS------------------------------------------------------------------*/
html,
body {
  position: relative;
  height: 100%;
}

#depoimentos-title {
  font-weight: 800;
  font-size: 50px;
  color: #123b77;
  background-color: #e6e7e9;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 50px;
}

.depoimentos-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.depoimentos-header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide .depoimentos-header .depoimentos-image img {
  position: relative;
  height: 100px;
  width: 100px;
  padding: 0px;
  border-radius: 50%;

  margin: 20px;

}

.swiper-wrapper .swiper-slide {
  height: 60%;

  background: #e6e7e9;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.swiper-slide .depoimentos-content {
  width: 50%;
  margin: 20px;
  text-align: justify;
  border-radius: 10px;

  padding: 30px;
  margin: 30px;

  background: white;
  height: auto;
  width: 70vw;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#depoimentos {
  background-color: #1a1146;
  height: auto;

}



@media (max-width: 1025px) {
  #depoimentos h2 {
    font-size: 5vh;
  }

  #depoimentos-display {
    display: flex;
    flex-direction: column;
  }
  .depoimentos-balao {
    margin: 3vh 1vh;
    padding: 0;
    width: 90vw;
  }

  .depoimentos-image {
    height: 15vh;
    position: relative;
    top: -12vh;
    left: -3vh;
  }

  .depoimentos-autor {
    font-size: 2.4vh;
    font-weight: 600;
    margin: 1vh;
  }

  .depoimentos-rating {
    margin-bottom: 1vh;
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .depoimentos-avaliacao {
    font-size: 2.5vh;
  }

  .depoimentos-icone{
    height: 2.5vh;
  }

  .depoimentos-content {
    height: 35vh;
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .depoimentos-text {
    width: 65vw;
    margin-top: -3.5vh;
    margin-left: -25vw;
    font-size: 2vh;
  }
}

@media (min-width: 270px) and (max-width: 290px) { /*GALAXY FOLD*/
  .depoimentos-text {
    margin-left: -32vw;
  }

  .depoimentos-avaliacao {
    margin-top: 0;
  }
}

@media (min-width: 530px) and (max-width: 550px) { /*SURFACE DUO*/
  .depoimentos-text {
    margin-left: -10vw;
    margin-top: 1vh;
    font-size: 2.5vh;
  }

  .depoimentos-autor {
    font-size: 3vh;
    margin-left: -1vh;
  }
}

@media (min-width: 767px) and (max-width: 1025px) {
  .depoimentos-text {
    font-size: 2.5vh;
    margin-left: -6vh;
  }

  .depoimentos-image {
    left: 2vh;
  }
}

@media (min-width: 1026px) and (max-width: 1365px) {
  .depoimentos-autor {
    margin: -1vw;
  }
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  background-color: #1a1a1a;
}

.footer-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 20px;
}

.footer-column {
  margin: 0 3vw;
  width: auto;
  width: 250px;
  flex-wrap: wrap;
}

.footer-column p {
  text-align: justify;
  margin-bottom: 5px;
}
footer strong {
  color: #ebebeb;
}
footer p,
footer p a {
  color: #ebebeb;
  margin: 0;

  font-size: 20px;
  font-weight: 200;

  text-decoration: none;

}

footer p a:hover {
  color: #ebebebda;
}

footer strong {
  font-weight: 600;

}

footer img {
  height: 100px;
}

#footer-e2c {
  width: 100vw;
  background: #0c0c0c;
}

#footer-e2c p {
  margin-top: 10px;
}
